<h1>{{ title }}</h1>
<form>
  <label for="inputField">Input Field:</label>
  <input type="text" id="inputField" name="inputField" (keyup)="updateTitle($event)">
</form>
<ul>
  <li> Nom : {{ personne.nom }}</li>
  <li> Prenom : {{ personne.prenom | json }}</li>
  <li> Person : {{ personne | json }}</li>
</ul>
<ul>
coucou
  <li  *ngFor= "let pp in tab"> {{pp}} </li>
</ul>
<p> {{direBonjour()}}</p>

<p [textContent]=title ></p>

<app-adresse></app-adresse>
<app-menu></app-menu>
<app-observable></app-observable>
